//- htmlのベースのレイアウト構造
include /common/template/module/_mixin

block variable

doctype
html(amp lang=`${LANG}`)
  head

    //- include /common/template/module/amp/_amp-gtm

    //- サイト全体で共通の設定
    meta(charset="utf-8")
    meta(http-equiv="x-dns-prefetch-control", content="on")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    meta(name="format-detection", content="email=no,telephone=no,address=no")
    link(rel="apple-touch-icon-precomposed", href="/appconfig/icon-192x192.png")


    block TDK
      +TDK(PAEG_URL,PAGE_TITLE,PAGE_DESC)
      +alternate(PAEG_URL)

    block headAssets
      include /common/template/module/amp/_amp-head-asset
      include /common/template/module/amp/_amp-css
      include /common/template/module/_schema
      <script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async=""></script>
      <script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""></script>
      <script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async=""></script>
      //- <script custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js" async=""></script>
      //- <script custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js" async=""></script>
      //- <script custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js" async=""></script>
      //- <script custom-element="amp-anim" src="https://cdn.ampproject.org/v0/amp-anim-0.1.js" async=""></script>
      //- <script custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js" async=""></script>
      //- <script custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js" async=""></script>
      //- <script custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js" async=""></script>
      //- <script custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js" async=""></script>
      //- <script custom-element="amp-fx-flying-carpet" src="https://cdn.ampproject.org/v0/amp-fx-flying-carpet-0.1.js" async=""></script>
      //- <script custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js" async=""></script>


    link(rel="manifest" href="/manifest.json")

  body
    //- include /common/template/module/amp/_amp-gtm-noscript
    #document(class=CATEGORY)

      block header
        include /common/template/module/amp/_amp-header

      block content
        main#content
          article
            section
              h1 No content.

      block aside
        aside#sub-content
          p Aside content.

      block footer
        //- include /common/template/module/_footer
