//- htmlのベースのレイアウト構造
include /common/template/module/_mixin

block variable

doctype
html(amp ,lang=`${LANG}`)
  head

    //- include /common/template/module/amp/_amp-gtm

    //- サイト全体で共通の設定
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(http-equiv="x-dns-prefetch-control", content="on")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")

    block TDK
      +TDK(PAEG_URL,PAGE_TITLE,PAGE_DESC)
      +alternate(PAEG_URL)

    block headAssets
      include /common/template/module/amp/_amp-head-asset
      include /common/template/module/amp/_amp-css
      include /common/template/module/_schema

    link(rel="manifest" href="/manifest.json")

  body
    //- include /common/template/module/amp/_amp-gtm-noscript
    #document(class=CATEGORY)

      block header
        include /common/template/module/_header

      block content
        main#content
          article
            section
              h1 No content.

      block aside
        aside#sub-content
          p Aside content.

      block footer
        include /common/template/module/_footer

      //- block bodyAssets
      //-   include /common/template/module/_body-assets

      include /common/template/module/_sw
