<!DOCTYPE html>
<html lang="{%- block htmlLang -%}{%- endblock -%}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{%- block TDK -%}{%- endblock -%}
	{%- block headAsset -%}
	{%- include 'module/_head-asset.njk' -%}
	{%- endblock -%}
</head>
<body>

	{%- block header -%}
	{%- include 'module/_header.njk' -%}
	{%- endblock -%}

	<div id="document">
	{%- block content -%}{%- endblock -%}
	</div>

	{%- block footer -%}
	{%- include 'module/_footer.njk' -%}
	{%- endblock -%}

	{%- block bodyAsset -%}
	{%- include 'module/_body-asset.njk' -%}
	{%- endblock -%}
</body>
</html>
