<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{%- block TDK -%}{%- endblock -%}
	{%- block headAsset -%}{%- endblock -%}
</head>
<body>
	{% block header %}{% endblock %}
	<div id="document-wrapper">
	{% block body %}{% endblock %}
	</div>
	{%- block footer -%}{% endblock %}
	{%- block bodyAsset -%}{%- endblock -%}
</body>
</html>
