doctype
html(lang="ja")
  head
    meta(charset="ust-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:site_name", content="website name")

    block TDK
    block headAssets
      include /module/_head-assets

  body
    #document
      block header
        include /module/_header.pug

      block content
        main
          article
            section
              h1 No content.

      block aside
        aside
          p aside content

      block footer
        include /module/_footer.pug

include /module/_schema.pug
