//- Resource Hints
link(rel="dns-prefetch" href="//example.com")
link(rel="dns-prefetch" href="//www.googletagmanager.com")
link(rel="prefetch" href="/common/css/index.css" as="style")
link(rel="prefetch" href="/common/js/vendor.bundle.js" as="script")
link(rel="prefetch" href="/common/js/index.bundle.js" as="script")
