/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/

$bp-tb-max = 1024px
$bp-tb-min = 768px

/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/

$color-primary = #000000
$color-secondary = #f5f5f5
$color-accent = #bbbbbb


/*
███████  █████  ███████ ██ ███    ██  ██████
██      ██   ██ ██      ██ ████   ██ ██
█████   ███████ ███████ ██ ██ ██  ██ ██   ███
██      ██   ██      ██ ██ ██  ██ ██ ██    ██
███████ ██   ██ ███████ ██ ██   ████  ██████
*/

$ease-out-quint = cubic-bezier(0.23, 1, 0.32, 1)

/*
███████ ██   ██  █████  ██████   ██████  ██     ██
██      ██   ██ ██   ██ ██   ██ ██    ██ ██     ██
███████ ███████ ███████ ██   ██ ██    ██ ██  █  ██
     ██ ██   ██ ██   ██ ██   ██ ██    ██ ██ ███ ██
███████ ██   ██ ██   ██ ██████   ██████   ███ ███
*/

$shadow = 0px 1px 1px 1px rgba(0,0,0,20%)

/*
██    ██ ████████ ██ ██      ██ ████████ ██    ██
██    ██    ██    ██ ██      ██    ██     ██  ██
██    ██    ██    ██ ██      ██    ██      ████
██    ██    ██    ██ ██      ██    ██       ██
 ██████     ██    ██ ███████ ██    ██       ██
*/

$width-container = 1200px
