extends /layout/_layout.pug

block TDK
  title ★★★
  meta(name="description", contents="description")
  meta(property="og:title", content="title")
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://example.com")
  meta(property="og:image", content="https://example.com/ogp.jpg")
  meta(property="og:description", content="description")
  meta(property="fb:app_id", content="identifer")

//- ヘッドアセットファイルの上書きが必要な場合はこちらに記述
//- block headAssets

//- ヘッダーファイルの上書きが必要な場合はこちらに記述
//- block header

//- メインコンテンツエリア
block content
  p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  .grid
    .grid-item item
    .grid-item item
    .grid-item item
    .grid-item item
    .grid-item item
    .grid-item item



//- アサイドファイルの上書きが必要な場合はこちらに記述
//- block aside

//- アサイドファイルの上書きが必要な場合はこちらに記述
//- block footer
