{%- extends "layout/_layout.njk" -%}
{%- set lang = 'jp' -%}
{%- set category = 'category' -%}

{% block htmlLang %}{{ lang }}{% endblock %}
{# head #}
{% block TDK %}
	<title>★★★</title>
	<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta property="og:title" content="★★★">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://example.com/">
	<meta property="og:image" content="https://example.com/ogp.jpg">
	<meta property="og:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta name="twitter:card" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta name="twitter:site" content="https://example.com/">
	<meta name="twitter:description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
	<meta name="twitter:image:src" content="https://example.com/tw.jpg">
	<link rel="alternate" hreflang="ja" href="https://example.com/">
	<link rel="alternate" hreflang="en" href="https://example.com/e/">
{% endblock %}
{% block headAsset %}{{ super() }}{% endblock %}
{#- head -#}
{#- body -#}
{% block header %}
{% include "module/_header.njk" %}
{% endblock %}
{% block content %}
<main class="{{ category }}">
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</section>
	<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	</section>
</main>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
{% block bodyAsset %}{{ super() }}{% endblock %}
