extends /layout/_layout.pug

block TDK
  title ★★★
  meta(name="description", contents="description")
  meta(property="og:title", content="title")
  meta(property="og:type", content="website")
  meta(property="og:url", content="https://example.com")
  meta(property="og:image", content="https://example.com/ogp.jpg")
  meta(property="og:description", content="description")
  meta(property="fb:app_id", content="identifer")

//- ヘッドアセットファイルの上書きが必要な場合はこちらに記述
//- block headAssets

//- ヘッダーファイルの上書きが必要な場合はこちらに記述
//- block header

//- メインコンテンツエリア
block content

//- アサイドファイルの上書きが必要な場合はこちらに記述
//- block aside

//- アサイドファイルの上書きが必要な場合はこちらに記述
//- block footer
