for v in (0...21)
  .mt{v * 5}
    margin-top v * 5px

  .tb-mt{v * 5}
    @media screen and (max-width:$bp-tb-max)
      margin-top v * 5px

  .sp-mt{v * 5}
    @media screen and (max-width:$bp-tb-min)
      margin-top v * 5px

  .mr{v * 5}
    margin-right v * 5px

  .tb-mr{v * 5}
    @media screen and (max-width:$bp-tb-max)
      margin-right v * 5px

  .sp-mr{v * 5}
    @media screen and (max-width:$bp-tb-min)
      margin-right v * 5px

  .mb{v * 5}
    margin-bottom v * 5px

  .tb-mb{v * 5}
    @media screen and (max-width:$bp-tb-max)
      margin-bottom v * 5px

  .sp-mb{v * 5}
    @media screen and (max-width:$bp-tb-min)
      margin-bottom v * 5px

  .ml{v * 5}
    margin-left v * 5px

  .tb-ml{v * 5}
    @media screen and (max-width:$bp-tb-max)
      margin-left v * 5px

  .sp-ml{v * 5}
    @media screen and (max-width:$bp-tb-min)
      margin-left v * 5px

.ta-r
  text-align right
.ta-c
  text-align center
.ta-l
  text-align left
