/*
██████  ██████  ███████  █████  ██   ██ ██████   ██████  ██ ███    ██ ████████
██   ██ ██   ██ ██      ██   ██ ██  ██  ██   ██ ██    ██ ██ ████   ██    ██
██████  ██████  █████   ███████ █████   ██████  ██    ██ ██ ██ ██  ██    ██
██   ██ ██   ██ ██      ██   ██ ██  ██  ██      ██    ██ ██ ██  ██ ██    ██
██████  ██   ██ ███████ ██   ██ ██   ██ ██       ██████  ██ ██   ████    ██
*/

$bp-tb-max = 1024px
$bp-tb-min = 768px

/*
 ██████  ██████  ██       ██████  ██████
██      ██    ██ ██      ██    ██ ██   ██
██      ██    ██ ██      ██    ██ ██████
██      ██    ██ ██      ██    ██ ██   ██
 ██████  ██████  ███████  ██████  ██   ██
*/

$colorMain = #000000
$colorPrimary = #f5f5f5
$colorAccent = #bbbbbb


/*
███████  █████  ███████ ██ ███    ██  ██████
██      ██   ██ ██      ██ ████   ██ ██
█████   ███████ ███████ ██ ██ ██  ██ ██   ███
██      ██   ██      ██ ██ ██  ██ ██ ██    ██
███████ ██   ██ ███████ ██ ██   ████  ██████
*/

$easeOutQuint = cubic-bezier(0.23, 1, 0.32, 1)
